services:
  postgresql:
    container_name: postgresql
    environment:
      POSTGRES_PASSWORD: admin
      POSTGRES_USER: admin
    image: postgres:18
    expose:
      - 5432
    # volumes:
    #   -./db_data:/var/lib/postgresql/data
  pgadmin:
    container_name: pgadmin
    depends_on:
      - postgresql
    image: elestio/pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"

  temporal:
    container_name: temporal
    depends_on:
      - postgresql
    environment:
      - DB=postgres12
      - DB_PORT=5432
      - POSTGRES_USER=admin
      - POSTGRES_PWD=admin
      - POSTGRES_SEEDS=postgresql
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_CLI_ADDRESS=temporal:7233
    image: temporalio/auto-setup:1.29.1
    ports:
      - 7233:7233

  temporal-admin-tools:
    container_name: temporal-admin-tools
    depends_on:
      - temporal
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_CLI_ADDRESS=temporal:7233
    image: temporalio/admin-tools:1.29.1-tctl-1.18.4-cli-1.5.0
    stdin_open: true
    tty: true
  temporal-ui:
    container_name: temporal-ui
    depends_on:
      - temporal
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_CORS_ORIGINS=http://localhost:8080
      - TEMPORAL_UI_AUTH_DISABLED=true
      - TEMPORAL_UI_CSRF_COOKIE_INSECURE=true
    image: temporalio/ui:2.42.1
    ports:
      - 8080:8080
